@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1300px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
}

p {
  margin-bottom: 0;
  padding: 0.5vw;
}

main {
  font-size: 130%;
  font-weight: bolder;
  color: black;
  padding: 0.5vw 2vw 0;
  margin: 1px 20px 15px;
  border-radius: 2rem;
  text-align: justify;
}

/* custom select end */
@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
/* Submit validation form message */
@keyframes submit_form_validation_shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateY(-3px);
  }
  35% {
    transform: translateY(-3px) rotate(3deg);
  }
  55% {
    transform: translateY(-3px) rotate(-3deg);
  }
  65% {
    transform: translateY(-3px) rotate(3deg);
  }
  75% {
    transform: translateY(-3px) rotate(-3deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
/* Modal form */
.button {
  background: #FF001B;
  margin-top: 0.5em;
  padding: 1em;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}
.button:hover {
  background: #3876ac;
}

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.content {
  margin: 3% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: 0.8s;
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}

.modal-body {
  padding: 15px 8%;
}

.date-of-event {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
  padding-right: 2rem;
  font-size: clamp(1rem, 5vw, 1.4rem);
  font-family: "Roboto", sans-serif;
  color: #279e7a;
  background: linear-gradient(90deg, rgb(14, 226, 163) 0%, #279e7a 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

label {
  font-family: "DM Sans", sans-serif;
  font-size: clamp(0.8rem, 4vw, 1rem);
  font-weight: normal;
  display: inline-block;
  margin-bottom: 11px;
}

input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}
input:focus:invalid {
  border: 2px solid #FF001B;
}
input:focus:valid {
  border: 2px solid #279e7a;
}

.form-error-message {
  color: #FF001B;
  font-size: 12px;
}

.terms-padding {
  padding-left: 2.3rem;
}

.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: clamp(0.6rem, 5vw, 1.3rem);
  height: 48px;
}

.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 36px;
  font-size: clamp(0.6rem, 2vw, 0.9rem);
  font-weight: normal;
}

.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}

.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}

.checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: #279e7a;
}

.checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}

.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.btn-submit,
.btn-signup {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 12px 82px;
  background: #FF001B;
  border: 0;
  border-radius: 7px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.2, 0.5, 0.3, 2);
}
.btn-submit:hover,
.btn-signup:hover {
  transform: scale(1.2);
}

.text-label {
  font-weight: normal;
  font-size: clamp(0.8rem, 4vw, 1rem);
}

.submitok {
  background: rgba(0, 0, 0, 0.829);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submitok__message {
  background: #232323;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  animation: submit_form_validation_shaking 1s infinite;
}

/* Landing Page */
/* HEADER */
.topnav {
  overflow: hidden;
  margin: 3.5%;
}
.topnav__logo {
  float: left;
  padding-right: 1rem;
}
.topnav__logo img {
  width: 100%;
  height: auto;
}
.topnav__navbar {
  float: right;
  position: relative;
}

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 12px 12px;
  margin: 5px;
  font-size: clamp(0.7rem, 2vw, 1.5rem);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.topnav a:hover {
  background-color: #FF001B;
  color: #ffffff;
  border-radius: 15px;
}
.topnav a.active {
  background-color: #FF001B;
  color: #ffffff;
  border-radius: 15px;
}

.topnav .icon {
  display: none;
}

/* custom select end */
/* MAIN */
.hero-section {
  height: auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr); /*12 columns of the same width, 1fr = fraction of the available space */
  overflow: hidden;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.hero-section__content {
  padding: 51px 67px;
  grid-column: span 4; /* first 4 columns of the grid */
  background: #232323;
  color: #fff;
  position: relative;
  text-align: left;
  min-width: 424px;
}
.hero-section__content::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #232323;
  position: absolute;
  right: -80px;
  top: 0;
}
.hero-section__content > * {
  position: relative;
  z-index: 1;
}
.hero-section__content__headline {
  font-size: clamp(4rem, 8vw, 6rem);
  font-weight: normal;
  white-space: nowrap;
}
.hero-section__content__text {
  width: 146%;
  font-weight: normal;
  margin-top: 57px;
  padding: 0;
}

.hero-section__img {
  grid-column: span 8;
}
.hero-section__img img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
}

.modal-btn {
  font-size: 145%;
  background: #FF001B;
  display: flex;
  margin: auto;
  padding: 2em;
  color: #fff;
  padding: 0.75rem 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
}
.modal-btn:hover {
  background: #3876ac;
}

.btn-signup {
  outline: none;
  text-transform: capitalize;
  font-size: 1.3rem;
  padding: 15px 23px;
  margin: 0;
  margin-top: 59px;
}

.hero-section > .btn-signup {
  display: none;
}

/* FOOTER */
footer {
  display: flex;
  align-items: center;
  padding: 0 2vw;
  margin: 0 20px;
  font-family: "DM Sans", sans-serif;
}

.copyrights {
  color: #FF001B;
  padding: 0;
  font-size: clamp(0.8rem, 3vw, 1rem);
  font-weight: bolder;
}

/* Landing Page - NavBar */
@media screen and (max-width: 768px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
@media screen and (max-width: 540px) {
  main {
    margin: 0;
  }
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}
/* custom select end */
@media screen and (max-width: 800px) {
  .hero-section {
    display: block;
    box-shadow: unset;
  }
  .hero-section__content {
    background: #fff;
    color: #000;
    padding: 20px;
    min-width: auto;
    max-width: 100%;
  }
  .hero-section__content::after {
    content: unset;
  }
  .hero-section__content .btn-signup {
    display: none;
  }
  .hero-section__content__headline {
    font-size: clamp(1.6rem, 8vw, 10rem);
    white-space: normal;
  }
  .hero-section__content__text {
    width: unset;
    font-size: clamp(1rem, 3vw, 8rem);
  }
  .hero-section__img img {
    border-radius: 10px;
    margin-top: 40px;
  }
  .hero-section > .btn-signup {
    display: block;
    text-align: center;
    margin: 32px auto 10px;
    padding: 1rem 0;
    font-size: clamp(0.8rem, 4vw, 1.5rem);
  }
  .copyrights {
    margin-top: 50px;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */