/* custom select end */

@keyframes modalopen {
    from {
      opacity: 0;
      transform: translateY(-150px);
    }
  
    to {
      opacity: 1;
    }
  }


  /* Submit validation form message */

  @keyframes submit_form_validation_shaking {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateY(-3px);
    }
    35% {
      transform: translateY(-3px) rotate(3deg);
    }
    55% {
      transform: translateY(-3px) rotate(-3deg);
    }
    65% {
      transform: translateY(-3px) rotate(3deg);
    }
    75% {
      transform: translateY(-3px) rotate(-3deg);
    }
    100% {
      transform: translateY(0) rotate(0);
    }
  }