$primary-color: #FF001B;
$secondary-color: #232323;
$tertiary-color: #279e7a;

$font-default:'DM Sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;

$clamp-for-formData-label: clamp(0.8rem, 4vw, 1rem);
$clamp-for-formData-input-text-control: clamp(0.6rem, 5vw, 1.3rem);
$clamp-for-formData-checkbox-label: clamp(0.6rem, 2vw, 0.9rem);