/* Landing Page - NavBar */

@media screen and (max-width: 768px) {
  .topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
  
@media screen and (max-width: 540px) {
  main{
    margin: 0;
  }
  .topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}


/* custom select end */

@media screen and (max-width: 800px) {
  .hero-section {
    display: block;
    box-shadow: unset;
  }

  .hero-section__content {
    background: #fff;
    color: #000;
    padding: 20px;
    min-width:auto;
    max-width:100%;
  }

  .hero-section__content::after {
    content: unset;
  }

  .hero-section__content .btn-signup {
    display: none;
  }

  .hero-section__content__headline {
    font-size: clamp(1.6rem, 8vw, 10rem);
    white-space: normal;
  }

  .hero-section__content__text {
    width: unset;
    font-size: clamp(1rem, 3vw, 8rem);
  }

  .hero-section__img img {
    border-radius: 10px;
    margin-top: 40px;
  }

  .hero-section>.btn-signup {
    display: block;
    text-align: center;
    margin: 32px auto 10px;
    padding: 1rem 0;
    font-size: clamp(0.8rem, 4vw, 1.5rem);

  }

  .copyrights {
    margin-top: 50px;
    text-align: center;
  }
}